* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif    
}
html {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    /* background: url('./Images/Math_background.jpeg') bottom center; */
}
div#content-container {
    position: absolute;
    width: 100%;
    top: 10%;
    height: 80%;
    /* border: 1px solid black; */
}
div#calculator {
    position: absolute;
    left: 35%;
    width: 30%;
    height: 100%;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 5px 5px 1em black;
    background-color:lavender;
}
div#display {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 20%;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
}
div#history {
    position: absolute;
    top: 2%;
    right: 2%;
    width: auto;
    height: 35%;
    font-size: x-large;
}
div#screen {
    position: absolute;
    bottom: 0%;
    right: 2%;
    width: auto;
    height: 50%;
    font-size: xxx-large;
}

div#keypad {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 65%;
    border-radius: 6px;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 2%;
}
button.grid-item {
    text-align: center;
    font-size: larger;
    border: 2px solid black;
    border-radius: 8px;
    background-color: lightgray;
}
button.grid-item.operator,button.grid-item.special {
    background-color: rgb(234, 157, 217);
}
button.grid-item:hover {
    background-color: whitesmoke;
    box-shadow: 0 0 0.4em #ffc600;;
}
button.grid-item.activated,button.grid-item:active {
    background-color: darkgray;
    box-shadow: 0 0 0.4em #ffc600;;
}
button[value="Clear"] {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(247, 172, 172);
}

button[value="Delete"] {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgb(249, 249, 178);
}

button.grid-item[value="="] {
    background-color: rgb(203, 246, 203);
}
button.grid-item[value="="]:hover {
    background-color: whitesmoke;
    box-shadow: 0 0 0.4em #ffc600;;
}
button.grid-item[value="="].activated,button.grid-item[value="="]:active {
    background-color: darkgray;
    box-shadow: 0 0 0.4em #ffc600;;
}
/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0%;
    gap: 10px;
    font-size: large;
    color: black;
}
.fa-square-github {
    color: black;
    transition: transform 0.5s ease-in-out,  color 0.5s ease-in-out;
}

.fa-square-github:hover {
    transform: rotate(1080deg) scale(1.4);
    color: #ffc600;
}